// Fonts
$font-main: 'Inter', sans-serif;
$font-second: 'Poppins', sans-serif;
$font-tertiary: 'Volkhov', serif;

// Colors
$first: название;
$second: название;
$third: название;
$white: #fff;
$white-2: #F8FDFF;
$black: #000;
$bgf: название;
$bgs: название;
$green: #80A5B3;
$blue: #6B78E5;
$grey: #2D3134;
$light-grey: #939597;
$light-green: #5B5F62;


